<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="pic/movie.png">
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn btn-outline-dark" href="movie_list.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-success ml-2" href="register.html">Register</a>
				</li>
			</ul>
		</div>
    </nav>

	<div id="app" class="container">
		<span>
		<form @submit="login" action="movie_list.html">
		<!-- <span class="float-right btn">{{name}}</span> -->
		<article class="card-body mx-auto font-weight-bold" style="max-width: 500px;">
			<span><h1 class="text-center">Login</h1></span>
			
				<div class="form-group">
					<label for="user_id">User id:</label>
					<input type="text" class="form-control" id="user_id" placeholder="Enter ID" v-model="id">
				</div>

				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" placeholder="Enter Password" v-model="pass">
				</div>

				<button type="submit" class="btn btn-primary">Login</button>
		</article>
		</form>
		</span>
	</div>
	

	<style>
      body{
        background-size: cover;
        background-image: url("pic/holloween.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
        overflow: hidden;
				color: white;
      }
    </style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script>
	var vm = new Vue({
		el: "#app",

		data:{
			id: "",
			pass: "",
		},

		methods:{
			
			login: function(e) {
				if(this.id == "" || this.pass == ""){
					alert("กรุณาระบุ ID หรือ Password");
					e.preventDefault();
				}
				else if(typeof Cookies.get(this.id) == "undefined"){
					alert("ไม่มีชื่อผู้ใช้นี้ในระบบ");
					e.preventDefault();
				}
				else{
					if(Cookies.get(this.id).split(",")[1] != this.pass){
						alert("พาสเวิร์ดไม่ถูกต้อง");
						e.preventDefault();
					}
					else{
						Cookies.set("state", "loggedin");
						Cookies.set("name", this.id);
						alert("ล๊อคอินเสร็จสิ้น");
					}
				}
			}
		}
	})

</script>

</body>
</html>