<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="pic/movie.png">
    <title>Movies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>

  <body>
    <div id="app1">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="login.html" v-if="checkState">Login</a>
              <a class="btn btn-outline-danger" href="movie_list.html" @click="changeState" v-else>Logout</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-success ml-2" href="register.html" v-if="checkState">Register</a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control ml-2" type="search" placeholder="Search" aria-label="Search" v-model="search">
          </form>
        </div>
      </nav>

        <template v-if="notChoosed">
        <div  class="container">
          <div class="row">
            <div class="col-md-4" v-for="movie in filteredList">
              <div class="card my-5" @click="chooseMovie(movie.title, movie.content, movie.image, movie.video)">
                <img :src="movie.image" class="card-img-top img-fluid" :alt="movie.title"/>
                <div class="card-body">

                  <h5 class="card-title">
                    <div>{{ movie.title }}</div>
                  </h5>

                  <p class="card-text">
                    {{movie.content}}<br/>
                    <small class="text-muted">Create By: {{movie.createBy}}</small>
                    <small class="text-muted ml-5">Create Date: {{movie.createDate}}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>


      <template v-else>
        <div class="container mt-2">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-4">
                <img :src="c_pic" class="img-fluid">
              </div>
              
              <div class="col">

                <div class="embed-responsive embed-responsive-16by9">
                  <iframe :src="c_video"></iframe>
                </div>

                <!-- <div class="card-block">
                  <h4 class="card-title">{{c_title}}</h4>
                  <p class="card-text">{{c_des}}</p>
                  <div class="btn btn-primary" @click="notChoosed = true"> BUTTON </a>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </template>
  
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app1",
        data: {
          search: "",
          movies: [
            {
              id: 1,
              title: "Thor: Ragnarok",
              content: "I love Vue.js. It is so cool and easy!",
              createBy: "Bundit",
              createDate: new Date().toLocaleString(),
              image: "pic/thor.jpg",
              video: "https://www.youtube.com/embed/v7MGUNV8MxU",
              type: ["Action", "Adventure", "Comedy"],
            },
            {
              id: 2,
              title: "Wonder Woman",
              content: "An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law.",
              createBy: "Job",
              createDate: new Date().toLocaleString(),
              image: "pic/wonder.jpg",
              video: "https://www.youtube.com/embed/1Q8fG0TtVAY",
              type: ["Action", "Adventure", "Fantasy"],
            },
            {
              id: 3,
              title: "Guardians of the Galaxy Vol. 2",
              content: "I love Vue.js. It is so cool and easy!",
              createBy: "Bundit",
              createDate: new Date().toLocaleString(),
              image: "pic/guardian.jpg",
              video: "https://www.youtube.com/embed/dW1BIid8Osg",
              type: ["Action", "Adventure", "Comedy"],
            },
            {
              id: 4,
              title: "Logan",
              content: "Folly words widow one downs few age every seven. If miss part by fact he park just shew.",
              createBy: "Job",
              createDate: new Date().toLocaleString(),
              image: "pic/logan.jpg",
              video: "https://www.youtube.com/embed/Div0iP65aZo",
              type: ["Action", "Drama", "Sci-Fi"],
            },
            {
              id: 5,
              title: "Despicable Me 3",
              content: "Was certainty remaining engrossed applauded sir how discovery. Settled opinion how enjoyed greater joy adapted too shy. Now properly surprise expenses interest nor replying she she.",
              createBy: "Bundit",
              createDate: new Date().toLocaleString(),
              image: "pic/des.jpg",
              video: "https://www.youtube.com/embed/DPP5-Es1fEo",
              type: ["Animation", "Action", "Adventure"],
            },
            {
              id: 6,
              title: "Spider-Man: Homecoming",
              content: "Was certainty remaining engrossed applauded sir how discovery. Settled opinion how enjoyed greater joy adapted too shy. Now properly surprise expenses interest nor replying she she.",
              createBy: "Bundit",
              createDate: new Date().toLocaleString(),
              image: "pic/spiderman.jpg",
              video: "https://www.youtube.com/embed/U0D3AOldjMU",
              type: ["Action", "Adventure", "Sci-Fi"],
            }
          ],
          c_title: "",
          c_des: "",
          c_pic: "",
          c_video: "",
          notChoosed: true,
        },
        methods:{
          changeState: function(){
            Cookies.set("state", "loggedout")
          },
          chooseMovie: function(title, content, pic, video){
            this.c_title = title;
            this.c_des = content;
            this.c_pic = pic;
            this.c_video = video;
            this.notChoosed = false;
          },
        },
        computed:{
          filteredList: function() {
            return this.movies.filter(movie => {
              return movie.title.toLowerCase().includes(this.search.toLowerCase())
				    })
          },
          checkState: function(){
            return Cookies.get("state") == "loggedout" || typeof Cookies.get("state") == "undefined";
          }
        },
        watch:{
          
        }
      });

    </script>
  </body>
</html>
