<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="pic/movie.png">
    <title>Movies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>

  <body>
    <div id="app1">
      <nav class="navbar navbar-expand bg-light">

        <div class="navbar-header">
          <a class="navbar-brand text-center">Movies</a>
        </div>

        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="login.html" v-if="checkState">Login</a>
              <a class="btn btn-outline-danger" href="movie_list.html" @click="changeState" v-else>Logout</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-success ml-2" href="register.html" v-if="checkState">Register</a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control ml-2" type="search" placeholder="Search" v-model="search">
          </form>
        </div>
      </nav>

        <template v-if="false">
        <div  class="container">
          <div class="row">
            <div class="col-md-4" v-for="movie in filteredList">
              <div class="card my-5" @click="chooseMovie(movie.title, movie.content, movie.image, movie.video)">
                <img :src="movie.image" class="card-img-top img-fluid" :alt="movie.title"/>
                <div class="card-body">

                  <h5 class="card-title">
                    <div>{{ movie.title }}</div>
                  </h5>

                  <p class="card-text">
                    {{movie.content}}<br/>
                    <small class="text-muted">Director: <span v-for="(direc, index) in movie.director"><span v-if="index > 0">, </span>{{direc}}</span></small><br/>
                    <small class="text-muted">Type: <span v-for="(type, index) in movie.type"><span v-if="index > 0">, </span>{{type}}</span></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>


      <template v-else>
        <div class="container mt-2">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img :src="c_pic" class="img-fluid">
              </div>
              
              <div class="col-md">

                <div class="embed-responsive embed-responsive-16by9">
                  <iframe :src="c_video"></iframe>
                </div>

                <div class="card-body">
                  <h5 class="card-title">{{c_title}}</h5>
                  <div class="card-text">{{c_des}}</div>
                </div>

              </div>
            </div>
          </div>
          <div class="container text-center mt-2">
            <div class="btn btn-dark" @click="notChoosed = true">Back</div>
            <div class="btn btn-warning disabled" v-if="checkState">Login to buy a ticket</div>
            <div class="btn btn-warning" @click="" v-else>Buy Ticket!</div>
          </div>
        </div>
      </template>

      <div class="container">
        <h2>Form control: inline checkbox</h2>
        <p>The form below contains three inline checkboxes:</p>
        <form>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Option 1
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Option 2
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Option 3
          </label>
        </form>
      </div>
  
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app1",
        data: {
          search: "",
          movies: [
            {
              id: 1,
              title: "Thor: Ragnarok",
              content: "Thor is imprisoned on the planet Sakaar, and must race against time to return to Asgard and stop Ragnarök, the destruction of his world, at the hands of the powerful and ruthless villain Hela.",
              director: ["Taika Waititi"],
              image: "pic/thor.jpg",
              video: "https://www.youtube.com/embed/v7MGUNV8MxU",
              type: ["Action", "Adventure", "Comedy"],
            },
            {
              id: 2,
              title: "Wonder Woman",
              content: "When a pilot crashes and tells of conflict in the outside world, Diana, an Amazonian warrior in training, leaves home to fight a war, discovering her full powers and true destiny.",
              director: ["Patty Jenkins"],
              image: "pic/wonder.jpg",
              video: "https://www.youtube.com/embed/1Q8fG0TtVAY",
              type: ["Action", "Adventure", "Fantasy"],
            },
            {
              id: 3,
              title: "Guardians of the Galaxy Vol. 2",
              content: "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
              director: ["James Gunn"],
              image: "pic/guardian.jpg",
              video: "https://www.youtube.com/embed/dW1BIid8Osg",
              type: ["Action", "Adventure", "Comedy"],
            },
            {
              id: 4,
              title: "Logan",
              content: "In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.",
              director: ["James Mangold"],
              image: "pic/logan.jpg",
              video: "https://www.youtube.com/embed/Div0iP65aZo",
              type: ["Action", "Drama", "Sci-Fi"],
            },
            {
              id: 5,
              title: "Despicable Me 3",
              content: "Gru meets his long-lost charming, cheerful, and more successful twin brother Dru who wants to team up with him for one last criminal heist.",
              director: ["Kyle Balda", "Pierre Coffin", "Eric Guillon"],
              image: "pic/des.jpg",
              video: "https://www.youtube.com/embed/DPP5-Es1fEo",
              type: ["Animation", "Action", "Adventure"],
            },
            {
              id: 6,
              title: "Spider-Man: Homecoming",
              content: "Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.",
              director: ["Jon Watts"],
              image: "pic/spiderman.jpg",
              video: "https://www.youtube.com/embed/U0D3AOldjMU",
              type: ["Action", "Adventure", "Sci-Fi"],
            }
          ],
          c_title: "",
          c_des: "",
          c_pic: "",
          c_video: "",
          notChoosed: true,
          price: 0,
        },
        methods:{
          changeState: function(){
            Cookies.set("state", "loggedout")
          },
          chooseMovie: function(title, content, pic, video){
            this.c_title = title;
            this.c_des = content;
            this.c_pic = pic;
            this.c_video = video;
            this.notChoosed = false;
          },
        },
        computed:{
          filteredList: function() {
            return this.movies.filter(movie => {
              return movie.title.toLowerCase().includes(this.search.toLowerCase())
				    })
          },
          checkState: function(){
            return Cookies.get("state") == "loggedout" || typeof Cookies.get("state") == "undefined";
          }
        },
        watch:{
          
        }
      });

    </script>
  </body>
</html>
