<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="pic/movie.png">
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand navbar-light bg-dark">
		<div class="navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn btn-outline-light" href="movie_list.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-primary ml-2" href="login.html">Login</a>
				</li>
			</ul>
		</div>
    </nav>

	<div id="app" class="container">

		<article class="card-body mx-auto font-weight-bold" style="max-width: 500px;">
			<form @submit="regis" action="login.html">
			<h1 class="text-center">Register</h1>

				<div class="form-group">
					<label for="user_id">id:</label>
					<input type="text" class="form-control" id="user_id" placeholder="Enter New ID" v-model="id">
				</div>

				<div class="form-group">
					<label for="pwd1">Password:</label>
					<input type="password" class="form-control" id="pwd1" placeholder="Enter Password" v-model="pass">
				</div>

				<div class="form-group">
					<label for="pwd2">Confirm Password:</label>
					<input type="password" class="form-control" id="pwd2" placeholder="Confirm Password" v-model="confirm">
				</div>

				<button type="submit" class="btn btn-primary">Create Account</button>
			</form>
		</article>
	</div>

		<style>
      body{
        background-size: cover;
        background-image: url("pic/photoII.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
        overflow: hidden;
				color: white;
      }
      .btn{
      	border-radius: 16px;
      }
    </style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>


	<script>
		var vm = new Vue({
			el: "#app",
	
			data:{
				id: "",
				pass: "",
				confirm: "",
			},
	
			methods:{
				
				regis: function(e) {
					if(this.id == "" || this.pass == "" || this.confirm == ""){
						alert("กรุณากรอกข้อมูลให้ครบถ้วน");
						e.preventDefault();
					}
					
					else if(typeof Cookies.get(this.id) != "undefined" || this.id == "state" || this.id == "name" || this.id == "ticket"){
						alert("ไอดีนี้มีอยู่ในระบบแล้ว");
						e.preventDefault();
					}

					else if(this.pass != this.confirm){
						alert("พาสเวิร์ดไม่ตรงกัน");
						e.preventDefault();
					}

					else{
						Cookies.set(this.id, [this.id, this.pass])
						alert("สร้างแอคเค้าท์เรียบร้อย!");
					}
				}
			}
		})
	</script>
</body>
</html>